<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kNoSceneUninitialized</key>
	<dict/>
	<key>kMainScene</key>
	<dict>
		<key>ENGINE_TEST</key>
		<string>dirtcar_loop.wav</string>
	</dict>
	<key>kOptionsScene</key>
	<dict/>
	<key>kCreditsScene</key>
	<dict/>
	<key>kGameScene</key>
	<dict>
		<key>BEEPHIGH</key>
		<string>beep_high.wav</string>
		<key>BEEPLOW</key>
		<string>beep_low.wav</string>
		<key>CAMERA</key>
		<string>camera1.wav</string>
		<key>ENGINE</key>
		<string>dirtcar_loop.wav</string>
		<key>GRAVEL</key>
		<string>gravel_loop.wav</string>
	</dict>
</dict>
</plist>
