
TinyDrift.xcodeproj/project.xcworkspace/xcuserdata/stevengallagher.xcuserdatad/UserInterfaceState.xcuserstate
controlpoints.tsv
keypoints.tsv
pathpoints.tsv
.DS_Store
TinyDrift/.DS_Store
TinyDrift/libs/.DS_Store
TinyDrift/Sprite Sheets/.DS_Store
.xcodeproj/ !*.xcodeproj/project.pbxproj
