
TinyDrift.xcodeproj/project.xcworkspace/xcuserdata/stevengallagher.xcuserdatad/UserInterfaceState.xcuserstate
controlpoints.tsv
keypoints.tsv
pathpoints.tsv
.DS_Store
TinyDrift/.DS_Store
TinyDrift.xcodeproj/xcuserdata/
TinyDrift.xcodeproj/project.xcworkspace/xcuserdata/
